.window .container{
    padding: 0 15% 0 15%;
    justify-content: center;
    width: 22em;
    margin: 0 auto; 
}

.window .container .login-container {
    display: flex;
}

.login-box .sign-in-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-box .sign-in-class .social-icons {
    display: flex;
}

.login-box .sign-in-class .social-icons i {
    margin-left: 2em;
}

.login-box .sign-in{
    margin-top: -1%;
    text-align: left;
}

.login-box .terms{
    font-size: 0.9em;
}

.login-box .help{
    font-size: 0.75rem;
    text-align: left;
}

.rotate {
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.login-box .content{
    margin: 0.95em;
}

.login-box .help{
    margin-bottom: 2em;
}

.login-box .work{
    margin-top: 2em;
    text-align: left;
    width: 100%;
    font-size: 0.75em;
}

.wrapper {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    color: var(--tertiary-color);
    font-size: 0.75em;
}

.line {
    flex: 1;
    border-bottom: 1px solid var(--tertiary-color);
}

.content1 {
    padding: 0 10px; /* Adjust padding as needed */
}

.new-acc button{
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    color: var(--background-color);
    cursor: pointer;
}

.new-acc button:hover{
    background-color: var(--button-hover);
}

