.window .password-container{
    justify-content: center;
    width: 18rem;
    margin: 0 auto; 
}

.pass{
    text-align: left;
    font-size: 1.75rem;
}
.pass-content{
    text-align: left;
    margin-top: 2%;
    font-size: 0.80em;
}

div .custom {
    margin-top: 1em;
    justify-content: center;
    width: 100%;
}
.c1{
    width: 120%;
    font-size: 0.75rem;
    color: var(--tertiary-color);
}