<div class="window">
    <div class="login-box">
        <div class="pass-box">
                <span>
                    <h2>Sign In</h2>
                </span>
            <form>
                <div class="pass-class">
                    <span>
                        <h5 class="password">Password</h5>
                    </span>
                    <span class="forgot-pass">
                        <a href="forgotPassword">Forgot Password?</a>
                    </span>
                </div>
                <input type="password" placeholder="password" required>
                <button type="submit">Sign In</button>
            </form>
            <div class="signed-in">
                <input type="checkbox" id="keepMeSignedIn">
                <p>Keep me signed in.<a href="">Details</a></p>
            </div>
            <hr>
            <div class="work">
                <p><b>Buying for work?</b></p>
                <p><a href="" class="anchor-tag">Shop on Spark Business</a></p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="line"></div>
        <div class="content1">New to Spark?</div>
        <div class="line"></div>
    </div>
    <div class="new-acc">
        <a href="./../Registration Page/registration.html"><button type="button">Create your Spark
                Account</button></a>
    </div>
</div>