/* You can add global styles to this file, and also import other style files */
@import './colors.scss';

*{
    margin: 0;
}

.window {
    margin: auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    min-height: 500px;
    min-width: 450px;
}

.login-box {
    background-color: var(--background-color);
    border: 1px solid var(--border-color); /* 1px solid black border */
    border-radius: 5px;
    text-align: center;
    padding: 1.5em;
    margin:0 auto;
}

.login-box .sign-in{
    margin: 5% 0 6% 0; 
    text-align: left;
}

.login-box input {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    margin-top: -6%;
    margin-bottom: 1em;
    padding: 0.75em;
}

.login-box button {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--background-color);
    cursor: pointer;
}

.login-box button:hover{
    background-color: var(--button-hover);
}

button:hover{
    background-color: var(--button-hover);
}

.anchor-tag{
    color: var(--anchor-color);
    text-decoration: none;
}

.anchor-tag:hover{
    cursor: pointer;
    color: var(--hover-color);
    text-decoration: underline;
}

.border {
    border: 2px solid transparent;
    border-radius: 2px;
  }
  
  .border:hover {
    border: 1.5px solid white;
  }
  